@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
*::-webkit-scrollbar-track{
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: #3A3A3A;
    border-radius: 10px;
}