@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Pirata One", system-ui !important;
    letter-spacing: 1.5px;
}


*::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
*::-webkit-scrollbar-track{
    background-color: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: #3A3A3A;
    border-radius: 10px;
}